@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginAndCRUDCoreProject.DTO.CourseDto;
@{
    ViewData["Title"] = "Update Course";
}

<div class="row">
    <div class="col-md-6 offset-md-4">
        <h4>Edit Course</h4>
        <hr />
        <form asp-action="UpdateCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>

            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary w-100" />
                    </div>
                </div>
                <div class="col-md-6">
                    <a asp-action="CourseList" class="btn btn-secondary w-100">View All</a>
                </div>
            </div>
        </form>
    </div>
</div>
